/*
.romanianDiv {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
}

.romanianDiv .btn-holder {
    justify-content: flex-end;
    display: flex;
}
*/




/*
.addButton {
    position: absolute;
    bottom: 0;
    left: 0;
}

.removeButton {
    position: absolute;
    bottom: 0;
    right: 0;
}


#romanianDiv {
    position: relative;
    height:50px;
    max-height:100px;
}

#russianDiv {
    position: relative;
}

*/



/*
fieldset {
    position: relative;
}
*/



