{% extends 'base.html' %}

{% block head %}
<title>KakSespune-Search</title>
{% endblock %}

{% block body %}
  <table>
      <tr>
          <th>Dialect</th>
          <th>Romanian</th>
          <th>Russian</th>
          <th>Actions</th>
      </tr>

      {% for word in searched_word %}
      <tr>
        <td>{{ word.name }}</td>
        <td>{{ word.romanian_trans }}</td>

        <td>{{ word.russian_trans }}</td>
        <td>
            <a href="/delete/{{word.id}}">Delete</a>
        </td>

      </tr>
      <tr>
          <td>
              <a href="/update/{{word.id}}/name">Update</a>
          </td>
          <td>
              <a href="/update/{{word.id}}/romanian_trans">Update</a>
          </td>
          <td>
              <a href="/update/{{word.id}}/russian_trans">Update</a>
          </td>
      </tr>
    {% endfor %}
  </table>
<a href="/">Home</a>
{% endblock %}